<div class="col-4 mb-3">
  <%= form_with(model: [@client, @invoice]) do |f| %>
    <% if @invoice.errors.any? %>
      <div class="text-danger">
        <h2> Se han producido los siguientes errores: </h2>
        <ul>
          <% @invoice.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :service_package_id, class: "form-label" %>
    <%= f.number_field :service_package_id, class: "form-control mb-3" %>

    <%= f.label :service_package_name, class: "form-label" %>
    <%= f.text_field :service_package_name, class: "form-control mb-3" %>

    <%= f.label :service_package_cost, class: "form-label" %>
    <%= f.number_field :service_package_cost, class: "form-control mb-3" %>

    <%= f.label :started_at, "Fecha de inicio", class: "form-label" %>
    <%= f.date_field :started_at, class: "form-control mb-3" %>

    <%= f.label :disconnected_at, "Fecha límite de pago", class: "form-label" %>
    <%= f.date_field :disconnected_at, class: "form-control mb-3" %>

    <%= f.label :finished_at, "Fecha de corte", class: "form-label" %>
    <%= f.date_field :finished_at, class: "form-control mb-3" %>

    <%= f.label :notes, "Anotaciones", class: "form-label" %>
    <%= f.text_area :notes, class: "form-control mb-3" %>

    <%= f.label :additional_concept, "Concepto adicional", class: "form-label" %>
    <%= f.text_field :additional_concept, class: "form-control mb-3" %>

    <%= f.label :aditional_amount, "Monto adicional", class: "form-label" %>
    <%= f.number_field :aditional_amount, class: "form-control mb-3" %>

    <%= f.label :total_bill, "Monto total", class: "form-label" %>
    <%= f.number_field :total_bill, class: "form-control mb-3" %>

    <%= f.label :payment_status, "Estado de factura", class: "form-label" %>
    <%= f.text_field :payment_status, class: "form-control mb-3" %>

    <button type="submit" class="btn btn-primary"><%= yield(:button) %></button>
  <% end %>
</div>
