<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-4">
      <h2>Listado de Servicios</h2>
    </div>
  </div>

  <%= form_with(url: all_invoices_path, method: :get, local: true) do %>
    <div class="row my-3">
      <div class="col-2">
        <%= label_tag :name, "Nombre", class: "form-label " %>
        <%= text_field_tag :name, params[:name], class: "form-control " %>
      </div>

      <div class="col-2">
        <%= label_tag :service_package_name, "Paquete de servicios", class: "form-label "  %>
        <%= select_tag :service_package_name,
          options_for_select(service_package_names, params[:service_package_name]),
          prompt: "Seleccionar",
          class: "form-control " %>
      </div>

      <div class="col-2">
        <%= label_tag :start_date, "Fecha de inicio", class: "form-label"  %>
        <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
      </div>

      <div class="col-2">
        <%= label_tag :end_date, "Fecha de fin", class: "form-label"  %>
        <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
      </div>

      <div class="col-2">
        <%= label_tag :payment_status, "Estado de pago", class: "form-label"  %>
        <%= select_tag :payment_status,
          options_for_select(payment_status_options, params[:payment_status]),
          prompt: "Seleccionar",
          class: "form-control" %>
      </div>

      <div class="col-2">
        <%= submit_tag "Filtrar", class: "btn btn-primary" %>
        <%= link_to "Generar Reporte", reports_monthly_income_report_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <table class="table table-secondary table-hover table-responsive table-striped">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Servicio</th>
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Fecha límite de Pago</th>
        <th scope="col">Fecha de Corte</th>
        <th scope="col">Estado de factura</th>
        <th scope="col">Facturación total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @all_invoices.each do |invoice| %>
        <tr>
          <th scope="row"><%= invoice.client.name %></th>
          <td><%= invoice.service_package.name %></td>
          <td><%= invoice.started_at.to_fs(:short) %></td>
          <td><%= invoice.disconnected_at.to_fs(:short) %></td>
          <td><%= invoice.finished_at.to_fs(:short) %></td>
          <td><%= invoice.payment_status_in_spanish %></td>
          <td><%= number_to_currency invoice.total_bill %></td>
          <td>
            <%= link_to "Ver Factura",
                  client_invoice_path(invoice.client, invoice),
                  class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
