<div class= "container-fluid ms-3">
  <div class="row mb-3">
    <div class="col-4">
        <h2>Listado de Servicios</h2>
    </div>
  </div>
</div>

<div class="mb-3">
  <%= link_to "Generar Reporte del Mes", reports_monthly_income_report_path, class: "btn btn-primary" %>
</div>

<table class="table table-secondary table-hover table-responsive table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha_inicio</th>
      <th scope="col">Fecha_corte</th>
      <th scope="col">Fecha_límite</th>
      <th scope="col">Costo</th>
      <th scope="col">Fecha_pago</th>
      <th scope="col">Anotaciones</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <th scope="row"> <%= invoice.id %></th>
        <td><%= invoice.name %></td>
        <td><%= invoice.started_at %></td>
        <td><%= invoice.finished_at %></td>
        <td><%= invoice.disconnected_at %></td>
        <td><%= invoice.price %></td>
        <td><%= invoice.paid_at %></td>
        <td><%= invoice.notes %></td>
        <td>
            <%= link_to invoice.client.name, client_path(invoice.client_id), class: "link-dark"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
