<div class= "container">
  <div class="row">
    <div class="col-4">
        <h2><%= @invoice.name%></h2><br>
      <p> Fecha de inicio : <%= @invoice.started_at %></p>
      <p> Fecha de corte : <%= @invoice.finished_at %></p>
      <p> Fecha límite de pago : <%= @invoice.disconnected_at %></p>
      <p> Costo del servicio : <%= @invoice.price %></p>
      <p> Pagadoel día : <%= @invoice.paid_at %></p>
      <p> Anotaciones : <%= @invoice.notes %></p>
    </div>

    <div class="col-8 text-end ">
      <br><p><%# link_to "Listado de clientes", clients_path %> </p><br>
      <p><%# link_to "Editar cliente", edit_client_path(@client) %> </p><br>
      <p><%# button_to "Eliminar cliente", @client, method: :delete, data: {confirm: "seguro que quieres eliminar el articulo?"} %> </p>
    </div>
  </div>
</div>
