<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>Change your password</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="row justify-content-center mb-3">
      <div class="col-4 field">
        <%= f.label :password, "New password", class: "form-label" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-4 field">
        <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-4 actions">
        <button type="submit" class="btn btn-primary">Change my password</button>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>