  <%= form_for @client do |f| %>
    <% if @client.errors.any? %>
      <div style="color: red">
        <h2> Se han producido los siguientes errores: </h2>
        <ul>
          <% @client.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row justify-content-center">
      <div class="field mb-3 col-4">
        <%= f.label :name, "Nombre", class: "form-label" %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="field mb-3 col-4 form-check">
        <%= f.check_box :active, class: "form-check-input" %>
        <%= f.label :active, "Status", class: "form-check-label" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="field mb-3 col-4">
        <%= f.label :phone, "Teléfono", class: "form-label" %><br />
        <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="field mb-3 col-4">
        <%= f.label :location, "Localidad", class: "form-label" %><br />
        <%= f.text_field :location, class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class=" col-4">
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </div>
  <% end %>
</div>