<div class="container">
  <div class="row my-5">
    <div class="col-6">
      <h2>Cliente</h2>
    </div>

    <div class="col-6 text-end">
      <%= button_to "Eliminar cliente",
            @client,
            class: "btn btn-outline-danger",
            method: :delete,
            data: { turbo_confirm: "¿Seguro que quieres eliminar este Cliente?" } %>
    </div>
  </div>

  <div class="card bg-black text-secondary mb-5">
    <h3 class="card-header"><%= @client.name %></h3>
    <div class="card-body row">
      <p class="card-text">Status: <strong><%= @client.status %></strong></p>
      <p class="card-text">Teléfono: <strong><%= @client.phone %></strong></p>
      <p class="card-text">Localidad: <strong><%= @client.location %></strong></p>
      <div class="col-6">
        <%= link_to "Editar cliente", edit_client_path(@client), class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-6">
      <h2>Servicios Activos</h2>
    </div>

    <div class="col-6 text-end">
      <div class="btn-group">
      <%= link_to "Historial de Facturas", client_invoices_path(@client), class: "btn btn-outline-light rounded-end me-3" %>
      <%= link_to "Nuevo servicio", new_client_invoice_path(@client, @invoice), class: "btn btn-outline-light rounded-start" %>
      </div>
    </div>
  </div>

  <% @invoices.each do |invoice| %>
    <% if active_invoice?(invoice) %>
      <div class="card bg-black text-secondary mb-5" id="invoice_<%= invoice.id %>">
        <h3 class="card-header">
          <%= link_to invoice.service_package.name,
                client_invoice_path(@client, invoice),
                class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
        </h3>
        <div class="card-body row">
          <p class="card-text">
            Costo de Paquete de Servicio: 
            <strong><%= number_to_currency invoice.service_package_cost %></strong>
          </p>
          <p class="card-text">Fecha de inicio: <strong><%= invoice.started_at.to_fs(:long) %></strong></p>
          <p class="card-text">Fecha límite de pago: <strong><%= invoice.disconnected_at.to_fs(:long) %></strong></p>
          <p class="card-text">Fecha de corte: <strong><%= invoice.finished_at.to_fs(:long) %></strong></p>
          <p class="card-text">Concepto adicional: <strong><%= invoice.additional_concept %></strong></p>
          <p class="card-text">Monto adicional: <strong><%= number_to_currency invoice.aditional_amount %></strong></p>
          <p class="card-text">Monto total: <strong><%= number_to_currency invoice.total_bill %></strong></p>
          <p class="card-text">Estado de Factura: <strong><%= invoice.payment_status %></strong></p>
          <p class="card-text">Anotaciones: <strong><%= invoice.notes %> </strong></p>
          <div class="col-6">
            <%= link_to "Editar servicio", edit_client_invoice_path(@client, invoice), class: "btn btn-outline-secondary rounded-end me-3" %>
          </div>
          <div class="col-6 text-end">
            <%= button_to "Eliminar servicio",
                  [@client, invoice],
                  class: "btn btn-outline-danger",
                  method: :delete,
                  data: { turbo_confirm: "¿Seguro que quieres eliminar el Servicio?" } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row my-5">
    <div class="col-6">
      <h2>Tickets</h2>
    </div>

    <div class="col-6 text-end">
      <%= link_to "Nuevo Ticket", new_client_ticket_path(@client), class: "btn btn-outline-light" %>
    </div>
  </div>

  <% @tickets.each do |ticket| %>
    <div class="card bg-black text-secondary mb-5">
      <h3 class="card-header"><%= ticket.state %></h3>
      <div class="card-body row">
        <p class="card-text">Nivel de Prioridad: <strong><%= ticket.priority_level %></strong></p>
        <p class="card-text">Descripción: <strong><%= ticket.description %></strong></p>
        <div class="col-6">
          <%= link_to "Editar ticket", edit_client_ticket_path(@client, ticket), class: "btn btn-outline-secondary" %>
        </div>
        <div class="col-6 text-end">
          <%= button_to "Eliminar ticket",
                [@client, ticket],
                class: "btn btn-outline-danger",
                method: :delete,
                data: { turbo_confirm: "¿Seguro que quieres eliminar el Ticket?" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
