<div class= "container">
  <div class="row">
    <div class="col-4">
        <h2><%= @client.Nombre%></h2><br>
      <p> Fecha de pago : <%= @client.Fecha_de_pago %> </p>
      <p> Fecha de pago : <%= @client.Fecha_de_corte %> </p>
      <p> Status : <%= @client.Activo ? "Activo" : "Inactivo" %> </p>
      <p> Teléfono : <%= @client.Teléfono %> </p>
      <p> Localidad : <%= @client.Localidad %> </p>
    </div>
    <div class="col-8 text-end ">
      <br><p><%= link_to "Listado de clientes", clients_path %> </p><br>
      <p><%= link_to "Editar cliente", edit_client_path(@client) %> </p><br>
      <p><%= button_to "Eliminar cliente", @client, method: :delete, data: {confirm: "seguro que quieres eliminar el articulo?"} %> </p>
    </div>
  </div>
</div>
