<div class= "container">
  <div class="row">
    <div class="col-4">
        <h2><%= @client.name%></h2><br>
      <p> Status : <%= @client.active ? "Activo" : "Inactivo" %> </p>
      <p> Teléfono : <%= @client.phone %> </p>
      <p> Localidad : <%= @client.location %> </p>
    </div>
    <div class="col-8 text-end ">
      <br><p><%= link_to "Listado de clientes", clients_path %> </p><br>
      <p><%= link_to "Editar cliente", edit_client_path(@client) %> </p><br>
      <p><%= button_to "Eliminar cliente", @client, method: :delete, data: {confirm: "seguro que quieres eliminar el articulo?"} %> </p>
    </div>
  </div>
</div>
