<div id="<%= dom_id ticket %>">
  <p>
    <strong>Created at:</strong>
    <%= ticket.created_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Priority level:</strong>
    <%= ticket.priority_level %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= ticket.client_id %>
  </p>

</div>
