  <div class="field mb-3 col-3">
    <%= form_with(model: service_package) do |form| %>
      <% if service_package.errors.any? %>
        <div class="text-danger">
          <h2>Se han producido los siguientes errores:</h2>

          <ul>
            <% service_package.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %> <br>

      <%= form.label :price, class: "form-label" %>
      <%= form.number_field :price, class: "form-control" %><br>

      <%= form.label :bandwidth, class: "form-label" %>
      <%= form.text_field :bandwidth, class: "form-control" %><br>

      <%= form.label :clasification, class: "form-label" %>
      <%= form.text_field :clasification, class: "form-control" %><br>

      <button type="submit" class="btn btn-primary"><%= yield(:button) %></button>
    <% end %>
  </div>
