<div id="<%= dom_id service_package %>">
  <p>
    <strong>Name:</strong>
    <%= service_package.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service_package.price %>
  </p>

  <p>
    <strong>Bandwidth:</strong>
    <%= service_package.bandwidth %>
  </p>

  <p>
    <strong>Clasification:</strong>
    <%= service_package.clasification %>
  </p>

</div>
