<div class= "container-fluid ms-3">
  <div class="row mb-3">
    <div class="col-10">
        <h2>Listado de Paqutes de Servicio</h2>
    </div>
    <div class="col-2">
        <%= link_to "Nuevo Paquete de Servicios", new_service_package_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <table class="table table-secondary table-hover table-responsive table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Ancho de Banda</th>
        <th scope="col">Clasificación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @service_packages.each do |service_package| %>
        <tr>
          <th scope="row"><%= service_package.id %><br></th>
          <td><%= link_to service_package.name, service_package, class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></td>
          <td><%= service_package.price %></td>
          <td><%= service_package.bandwidth %></td>
          <td><%= service_package.clasification %></td>
          <td>
            <div class="btn-group">
              <%= link_to "Editar", edit_service_package_path(service_package), class: "btn btn-outline-secondary" %>
              <%= button_to "Eliminar", service_package, class: "btn btn-outline-danger", method: :delete, data: {confirm: "seguro que quieres eliminar este Paquete de Servicio?" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
