<div id="<%= dom_id payment %>">
  <p>
    <strong>Paid at:</strong>
    <%= payment.paid_at %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= number_to_currency payment.amount %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= payment.method %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= payment.notes %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= payment.invoice_id %>
  </p>

</div>
